.form-container {
    width:100vw;
    background-color:#F5EDF0;
}

.form-content {
    width:100%;
    height:100%;
    margin:auto;
    display:flex;
    color:#12070D;
    padding:120px 0;
    justify-content:space-between;
    align-items:center;
}

.form-left, .form-right {
    width:50%;
    height:100%;
}

.form-left {
    display:flex;
    justify-content:flex-end;
}

.form-left img {
    height:600px;
    box-shadow:0px 0px 15px 15px rgba(0, 0, 0, 0.233);
    border-radius:15px;
}

.form-right {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-left:48px;
}

.form-right h1, .form-right p {
    font-family:'Montserrat';
    margin:0;
}

.form-right h1 {
    font-weight:600;
    font-size:48px;
}

.form-right p {
    font-size:16px;
    font-weight:300;
    margin-bottom:50px;
    max-width:550px;
}

.input-error {
    color:lightcoral !important;
    border: 1px solid lightcoral !important;
}

label {
    font-family:'Montserrat';
    font-weight:300;
}

input[type=text], textarea {
    outline:none;
    border-radius:.2em;
}

.line {
    display:flex;
    flex-direction:column;
    margin-top:15px;
}

.line{
    position: relative;
}

.line input, .line textarea{
    width: 450px;
    height: 60px;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 10px;
    border: 1px solid #b1b1b1;
    background: #F5EDF0;
    color: #12070D;
    outline: none;
    font-family:'Montserrat';
}

.line label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #b1b1b1;
    font-size: 19px;
    pointer-events: none;
    transition: 0.3s;
}

.input-error ~ label {
    top:38% !important;
    color:lightcoral;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
    top: 0 !important;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background-color: #F5EDF0;
}

#textarea-label {
    top:25%
}

textarea {
    height:110px !important;
    padding-top:10px !important;
    resize:none;
}

.line span {
    font-family: 'Montserrat';
    color:lightcoral;
    font-weight:300;
}

#submit-form {
    width:472px;
    padding:0 10px;
    font-family:'Montserrat';
    font-weight:700;
    font-size:24px;
    background:linear-gradient(to bottom,hsl(37, 92%, 61%) 70%, hsl(37, 92%, 70%));
    outline: none;
    border:none;
    cursor:pointer;
    transition:.2s;
    color:#12070D;
}

#submit-form:hover {
    transition:.2s;
    transform: translate(0px, -4px);
}

.line input:disabled,
.line textarea:disabled {
    background-color:lightgrey !important;
    color:lightgrey;
}

.disabled-button {
    background:lightgrey !important;
    cursor:default !important;
    color:grey !important;
}

.disabled-button:hover {
    transform: none !important;
}