.card {
    width:197px;
    height:128px;
    background: 
    linear-gradient(#1b1117 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to bottom, #12070D, #F7B142) border-box;
    color: #F5EDF0;
    border: 1px solid transparent;
    border-radius: 15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}

.card-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:start;
    text-align:center;
}

.card-icon {
    height:60px;
    width:60px;
}

.card-text .card-title {
    font-weight: 500;
    color: #F5EDF0;
}