  section.footer {
    background-color:#12070D;
    padding:8rem 0;
    font-family:'Montserrat';
  }
  
  section.footer div.content {
    width:90%;
    max-width:1280px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:4rem;
  }
  
  section.footer div.logo {
    height:fit-content;
    display:flex;
    gap:1rem;
  }
  
  section.footer div.logo-text {
    display:flex;
    flex-direction:column;
    justify-content:center;
    cursor:pointer;
  }
  
  section.footer div.logo-text span {
    color:#fff !important;
  }
  
  section.footer div.logo-text span:first-child {
    font-size:2rem;
    font-weight:600;
  } 
  
  section.footer div.logo-text span:last-child {
    font-size:1rem;
    letter-spacing:.1em;
  }
  
  section.footer span {
    color: hsl(0, 0%, 80%);
  }
  
  section.footer h4 {
    margin:0;
    font-size:1.25rem;
    color:#fff;
    line-height:3em;
  }
  
  section.footer .primary-info {
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    font-size:1rem;
  }
  
  section.footer .address {
    display:flex;
    flex-direction:column;
  }
  
  section.footer .contact-info {
    display:flex;
    flex-direction:column;
    gap:.35rem;
  }
  
  section.footer .phone,
  section.footer .mail {
    display:flex;
    align-items:center;
    gap:.25rem;
  }
  
  section.footer .secondary-info {
    display:flex;
    gap:5rem;
    text-wrap:nowrap;
    flex-wrap:wrap;
  }
  
  section.footer .secondary-info img {
    cursor:pointer;
  }
  
  section.footer a {
    color:hsl(0, 0%, 80%);
    text-decoration:none; 
    font-size:1rem;
  }
  
  section.footer a:hover {
    text-decoration:underline;
  }

  section.footer div.social {
    display:flex;
    flex-direction: column;
    gap:.5rem;
  }

  section.footer div.social img {
    width:20px;
    height:20px;
  }

  div.instagram a,
  div.linkedin a,
  div.facebook a {
    display:flex;
    gap:.5rem;
    align-items: center;
  }

  .members {
    display:flex;
    gap:1rem;
  }

  .member-card {
    cursor:pointer;
    transition:200ms;
    display:flex;
    flex-direction:column;
    gap:.5rem;
    font-size:1rem;
    width:fit-content;
  }

  .member-card img {
    width:125px;
    border-radius:2px;
    filter:saturate(0%);
    transition:200ms;
  }

  .member-card:hover img {
    transition:200ms;
    filter:saturate(100%);
  }

  .member-card:hover {
    transition:200ms;
    transform:translateY(-4px);
    filter:saturate(100%);
  }

  .member-card span {
    transition:200ms;
    color: #F5EDF0;
  }

  .member-card:hover span {
    transition:200ms;
    color:#F7B142;
  }
