.table-container {
    width:100vw;
    font-family:'Montserrat';
    background-color:#F5EDF0;
}

.table-content {
    width:1280px;
    margin:auto;
    height:100%;
    padding:50px 0;
}

h1, h2 {
    width:fit-content;
    margin:0;
    color:#12070D;
}

h2 {
    font-weight:500;
    text-decoration:underline;
    cursor:pointer;
}

summary {
    display:flex;
    justify-content:center;
}


.reservado {
    color: #F7B142;
}

table {
    background:#12070D;
    width:1135px;
}

tr:hover {
    background-color:#F5EDF0;
}

td {
    padding:5px 15px;
    background-color: #fff;
}

th {
    padding:5px 15px;
    background-color: #F7B142;
}

h3 {
    margin-bottom:5px;
}

h4 {
    font-weight:500;
    margin-top:0;
}

section.tables div {
    margin-bottom:100px;
}