@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  max-width:100vw;
}

body {
  scroll-behavior: smooth;
  user-select: none;
  overflow-x:hidden;
}

.first-section {
  background-color:#12070D;
  height:820px;
  width:100vw;
  padding:0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.first-section-content {
  position:absolute;
  height:820px;
  width:1280px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.first-section-content .first-group {
  width:460px;
  margin-bottom:28px;
}

.first-section-content .first-group span.local {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #F5EDF0;
}

.first-section-content .first-group span.local span {
  font-weight: 400;
}

.title-logo {
  width:40px;
  height:40px;
  margin:0;
}

.first-section-content .first-group .second-line {
  display:flex;
  align-items:center;
}

.title {
  display:flex;
  flex-direction:column;
  margin-left:8px;
}

.title .line-one {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
  color: #F5EDF0;
}


.line-two {
  color: #F5EDF0;
  font-weight:300;
  font-size:14px;
  letter-spacing: 1.05em;
}

.sub-headline {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #F5EDF0;
  width:670px;
  line-height: 54px;
}

.sub-headline span {
  font-weight: 800;
}

.hero {
  width:680px;
  height:610px;
  position:relative;
  display:flex;
  justify-content:flex-end;
}

.hero-rec-one, .hero-rec-two {
  position: absolute;
  background: linear-gradient(to bottom, hsl(37, 92%, 61%),hsl(37, 92%, 70%));
  border-radius: 15px;
  flex-shrink:0;
}

.hero-rec-one {
  left: 50px;
  top: -15px;
  width: 118px !important;
  height: 154px !important;
  z-index:1;
}

.hero-rec-two {
  width: 276px;
  height: 273px;
  right: -50px;
  bottom: 15px;
}

.hero img {
  width:505px;
  height:530px;
  box-shadow: 0px 0px 17.9px 7px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  right:0px;
  z-index:2;
}

.second-section {
  background-color:#F5EDF0;
  width:100vw;
  margin:0 !important;
  padding-top:180px;
  padding-bottom:130px;
}

div.carousel-bg {
  background: linear-gradient(to bottom, hsl(37, 92%, 61%),hsl(37, 92%, 70%));
  width:100vw;
  height:450px;
}

img.carousel-image {
  height:600px;
  width:500px;
}

.carousel {
  margin:auto;
  display:flex;
  justify-content:center;
  margin-top:-530px;
}

.carousel div .legend {
  margin-top:-50px;
  color:#F5EDF0;
  background:linear-gradient(to right, rgba(17, 6, 12, 0) 39.64%, #12070dc9 54.9%) !important;
  width:100% !important;
  height:100px;
  opacity: 100% !important;
  text-align:right !important;
  padding:20px !important;
  left:0 !important;
  margin-left:0 !important;
  border-radius:0 !important;
  display:flex;
  justify-content:end;
  align-items:center;
  font-family:'Montserrat';
  font-size:40px !important;
  padding-right:50px !important;
  font-weight:300;
}

.after-carousel {
  width:1280px;
  margin:auto;
  margin-top:70px;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.after-carousel .paragraphs {
  width:620px;
  font-family: 'Montserrat';
  color:#12070D;
  font-weight:400;
  font-size:18px;
  border-left:3px solid #F7B142;
  padding:15px;
}

.after-carousel .paragraphs span {
  font-weight: 600;
}

.third-section {
  width:100vw;
  padding:120px 0;
  background-color: #12070D;
  display:flex;
  justify-content:center;
}

div.third-content {
  width:1280px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

div.third-content .title {
  margin:auto;
}

div.third-content div.fotos {
  width:1064px;
  margin-top:50px;
  display:flex;
  justify-content: space-between;
}

div.third-content div.fotos .foto-container {
  display:flex;
  flex-direction:column;
  align-items:center;
}

div.third-content div.fotos .foto-container span.areadelazer-foto-legenda {
font-family: 'Montserrat';
font-weight: 400;
font-size: 24px;
color: #F5EDF0;
margin-top:10px;
}

div.third-content div.fotos .foto-container .areadelazer-foto {
  transition:.2s;
  height:376px;
  width:305px;
}

.areadelazer-foto:hover {
  transition:.2s;
  transform: translate(0px, -8px);
}

div.third-content p span {
  font-weight:600;
}

div.cards {
  display:flex;
  flex-direction:column;
  width:100%;
  margin-top:75px;
}

div.cards-line {
  margin-top:15px;
  display:flex;
  justify-content:space-between;
}

.third-aruna-bg {
  opacity:0.06;
  border-radius: 183.5px;
  position: absolute;
  width: 681px;
  height: 701px;
  left: 960px;
}

.left-palm-tree {
  position: absolute;
  left: 0px;
  opacity: 0.03;
  transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);
  
}

.saah-section {
  width:100vw;
  background-image: linear-gradient(to bottom, #F5EDF0 40%, #12070D 40%);
}

.saah-content {
  width:1280px;
  margin:auto;
  padding:120px 0;
  z-index: 50;
}

.saah-headline {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.saah-headline img {
  margin:auto;
  height:112px;
  width:112px;
}

.saah-headline h1 {
  margin:0;
  text-align:center;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #12070D;
  width:90vw;
}

.saah-headline span {
  color: #1b1117;
  font-weight:300;
  font-size:24px;
  letter-spacing: 1.2em;
  font-family:'Montserrat';
  text-align:center;
  width:50%;
  margin-right:-1.2em;
}

.saah-headline h1 span {
  font-weight: 900;
}

.saah-stuff {
  margin-top:110px;
  display:flex;
  justify-content:space-between;
}

.saah-stuff p {
  width:520px;
  margin:0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #12070D;
}

.saah-stuff p span {
  font-weight:600;
}

.saah-stuff .saah-image {
  margin-top:-25px;
  box-shadow: 0px 0px 16.1px 8px rgba(0, 0, 0, 0.377);
  color:#F7B142;
  height:630px;
  width:600px;
  border-radius:15px;
}

.saah-icon {
  margin-top:120px;
}

.saah-stuff .saah-paragraphs .second-paragraph {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #F5EDF0;
  width:545px;
}

.saah-cards {
  width:100%;
  margin-top:60px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.saah-cards .saah-cards-container {
  display:flex;
  justify-content:space-between;
  margin:5px 0;
}

.plant-section {
  width:100vw;
  background-color: #12070D;
}

.plant-content {
  width:1280px;
  height:800px;
  margin:auto;
  padding:120px 0;
}

.plant-content img.plant-image {
  margin-top:-50px;
  width:70%;
}

.plant-content h1 {
  margin:0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  background: linear-gradient(to right, hsl(37, 92%, 61%), hsl(37, 92%, 70%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width:fit-content;
}

.post-title-plant {
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:start;
}

.plant-cards {
  height:800px;
  display:flex;
  flex-direction:column;
  justify-content: end;
}

div.plant-card {
  width:505px;
  display:flex;
  align-items:center;
  justify-content: start;
  margin-top:20px;
}

.plant-card-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #F5EDF0;
  padding:5px 0 5px 20px;
  border-left:solid 1px #F7B142;
  margin-left:20px;
  height:100px;
  display:flex;
  align-items:center;
  width:320px;
}

.plant-card-text span {
  font-size:48px;
}

#aruna-name {
  font-size:36px;
}

.footer-content {
  width:90vw !important;
  max-width:550px;
  flex-direction:column;
  align-items:center;
  margin:auto;
  padding-top:50px !important;
}

.right {
  flex-direction: column;
}

.socialmedia {
  margin-top:25px;
}